---
source: reports/romanization-check.md
---

<!--@include: ../../reports/romanization-check.md-->
